
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

*{
  box-sizing: border-box;
}
html{
  background-color: white;
}

header{
  width:100%; 
  display: flex;
}

header a{
  color: blue; 
  font-size: 20px; 
  text-decoration: none; 
  width:fit-content; 
  margin:15px auto; 
  display: flex; 
  gap: 5px; 
  border-bottom: 1.5px solid gray;
}

main{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: fit-content;
  height: 26rem;
}
.contrast{
  background-color: rgba(171, 171, 171, 0.285);
  width: fit-content;
  display: flex;
  padding: 5px 10px;
  margin: 5px 0 10px 0;
  margin-left: auto;
}
svg{
  width: 20px;
  height: 20px;
}
#theme-selector{
  align-self: flex-end; 
  font-size: 18px;
  border: 1px solid rgba(69, 68, 68, 0);
  border-radius: 5px; 
  background-color: rgba(240, 255, 255, 0);
}
#theme-selector:focus {
  outline: none;
}
.code-window{
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border: 1px solid rgb(77, 77, 77);
  width: 28rem;
}

#header{
  background-color: rgba(148, 148, 148, 0.2);
  height: 2rem;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

#main{
  display: flex;

  font-family: 'Anonymous Pro', sans-serif; 
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  white-space: pre-line; 
  
  letter-spacing: 1.5px; 
  overflow: hidden;
}

#aside{
  height: 11rem;
  padding: 1rem 0.5rem 0;
  border-right: 1px solid rgb(176, 176, 176);
  color: #1858b2;
}

#output {
  overflow: hidden;  
  animation: blink-caret 0.75s step-end infinite;  
  width: 26rem;
  height: 11rem;
  padding: 1rem;
  margin: 0;
}

#output span:nth-of-type(25){
  margin-left: 30px;
}
#output span:nth-of-type(39){
  margin-left: 30px;
}
#output span:nth-of-type(76){
  margin-left: 30px;
}

/* Dark mode Styling*/

html.dark{
  background-color: rgb(58, 58, 58);
}

.contrast.dark{
  background-color: rgba(8, 15, 19, 0.731);
}


header a.dark{
  color: rgb(211, 211, 239);
}
svg.dark{
  fill: white;
}

#theme-selector.dark{
  background-color: rgba(14, 34, 19, 0);
  color: white;
}
#theme-selector option.dark{
  background-color: rgb(62, 62, 62);
  border: 1px solid rgb(87, 87, 87);
}

.code-window.dark{
  background-color: rgb(43, 43, 43);
  border: 1px solid rgb(208, 208, 208);
}

#header.dark{
  background-color: rgba(22, 22, 22);
}

#aside.dark{
  color: #d7f3f7;
}
